{
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    },
    "dev":{
      "presets": [
        ["env", { "modules": false }],
        "stage-3"
      ]
    }
  }
}
